rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // 1. Catch-all default deny
    match /{document=**} {
      allow read, write: if false;
    }

    // 2. Guarded System Data Collection for storing site-wide app database state
    match /system_data/{documentId} {
      allow read, write: if true; 
    }
  }
}
